{% load static %}

<html>
    <head>
	    <title> Django Girls Blog </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

    	<div class="page-header" >
		{% if user.is_authenticated %}
		    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}

        <div style="font-size: 30px">
            <a href="{% url 'polls:index' %}"> Go for polls </a>
		    <h1> <a href="/"> Django Girls Blog </a></h1>
	    </div>

        <div style="font-size: 25px; text-align: right;">
            <a href="{% url 'signup' %}">Sign Up</a>
        </div>


        <div style="font-size: 25px; text-align:right;">

        {% if user.is_authenticated %}
            <p><a href="{% url 'user_detail' %}" style="color: white"> Hi {{ user.username }} ! </a></p>
                <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
                <p><b>You are not logged in</b></p>
                <a href="{% url 'login' %}">login</a>
        {% endif %}

        </div>

        </div>
        
        <div class="content container">
		    <div class="row">
			    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>